<header class="navbar navbar-dark navbar-expand flex-column flex-md-row bd-navbar py-2 border-bottom border-danger"
	style="padding: 0% 20% 0% 20%; background-color: #23272a !important;">
	<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
		<img src="/img/logo.png" height="36" class="d-inline-block align-top" alt="">
	</a>

	<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item">
				<a class="nav-link lead text-light" href="/">DnDnDnD</a>
			</li>
		</ul>
	</div>
</header>
