<link rel="stylesheet" href="/css/partials/header.min.css">

<header class="navbar navbar-expand">
	<a class="navbar-brand" href="/" aria-label="DnDnDnD">
		<img src="/img/logo.png" height="36" alt="">
		<span>DnDnDnD</span>
	</a>
</header>
