<header
	class="navbar navbar-dark navbar-expand flex-column flex-md-row bd-navbar py-2 border-bottom border-danger"
	style="padding: 0% 20% 0% 20%; background-color: #23272a !important;">
	<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
		<img src="/img/logo.png" height="36" class="d-inline-block align-top" alt="">
	</a>

	<div class="navbar-nav-scroll">
		<ul class="navbar-nav bd-navbar-nav flex-row">
			<li class="nav-item">
				<a class="nav-link lead text-light" href="/">DnDnDnD</a>
			</li>
		</ul>
	</div>

	<ul class="navbar-nav ml-md-auto">
		<li class="nav-item">
			<a class="nav-link mr-md-2 text-light" href="/info" id="headerUserDropDownMenu">
				<span class="badge badge-danger mr-1"><i class="fas fa-question-circle"></i></span>Info
			</a>
		</li>

		<div class="mx-1"></div>

		<li class="nav-item dropdown">
			<a class="nav-item nav-link dropdown-toggle mr-md-2 text-light" href="#" id="headerUserDropDownMenu"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="badge badge-danger mr-1"><i class="fas fa-user-cog"></i></span>User
			</a>
			<div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="headerUserDropDownMenu">
				<a class="dropdown-item" href="/user/settings">Settings</a>
				<a class="dropdown-item" href="/user/logout">Logout</a>
			</div>
		</li>
	</ul>
</header>
