<link rel="stylesheet" href="/css/dist/index.css">

<%- include('partials/InfoUserHeader'); -%>

<div class="container-fluid">
	<h2 class="stroke red">DnDnDnD</h2>

	<div id="cardsWrapper">
		<a href="/characters" class="biggerOnHover">
			<div class="mainMenuBoxWrapper">
				<div class="mainMenuBoxContainer">
					<img src="/img/index/characters.jpg" width="100%" alt="" style="z-index: -1;" class="center">

					<img src="/img/index/charactersLogo.png" height="60%" alt="" style="z-index: -1;" class="center">

					<div class="center">
						<h4 class="stroke">PERSONAGGI</h4>
					</div>
				</div>
			</div>
		</a>

		<a href="https://rolldicewithfriends.com/rooms/dndndnd" class="biggerOnHover">
			<div class="mainMenuBoxWrapper">
				<div class="mainMenuBoxContainer">
					<img src="/img/index/play.jpg" width="100%" alt="" class="center">

					<img src="/img/index/playLogo.png" height="60%" alt="" class="center">

					<div class="center">
						<h4 class="stroke">GIOCA</h4>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
