<link rel="stylesheet" href="/css/dist/index.css">

<%- include('partials/InfoUserHeader'); -%>

<div class="container-fluid">
	<!-- Mobile menu  -->
	<div class="d-block d-lg-none">
		<div class="d-flex d-lg-none flex-column justify-content-around align-items-center">

			<a href="/characters" style="width: 100%;">
				<div style="height: 32vh; width: 100%;" class="shadow-lg">
					<div class="mainMenuBoxContainer"
						style="overflow: hidden; border: 1px solid black !important; border-radius: 10px;">
						<img src="/img/index/characters.jpg" width="100%" alt="" style="z-index: -1;" class="mainMenuBoxContent">
						<img src="/img/index/charactersLogo.png" height="60%" alt="" style="z-index: -1;"
							class="mainMenuBoxContent">

						<div class="mainMenuBoxContent">
							<span class="h1" style="text-shadow: 0px 0px 25px black; color: white; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-weight: normal;">CHARACTERS</span>
						</div>
					</div>
				</div>
			</a>

			<div style="margin: 2.5vh 0 2.5vh 0;" class="d-lg-none"></div>

			<a href="https://rolldicewithfriends.com/rooms/dndndnd" style="width: 100%;">
				<div style="height: 32vh; width: 100%;" class="shadow-lg">
					<div class="mainMenuBoxContainer"
						style="overflow: hidden; border: 1px solid black !important;  border-radius: 10px;">
						<img src="/img/index/play.jpg" width="100%" alt="" style="z-index: -1;" class="mainMenuBoxContent">
						<img src="/img/index/playLogo.png" height="60%" alt="" style="z-index: -1;" class="mainMenuBoxContent">

						<div class="mainMenuBoxContent">
							<span class="h1" style="text-shadow: 0px 0px 25px black; color: white; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-weight: normal;">PLAY</span>
						</div>
					</div>
				</div>
			</a>

		</div>
	</div>


	<!-- Desktop menu -->
	<div class="d-none d-lg-block">
		<div style="margin: 10vh 0 10vh 0;"></div>
		<div class="d-flex justify-content-center align-items-center">
			<span class="display-2" style="text-align: center; color: #cf2122; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-weight: normal;">DnDnDnD</span>
		</div>
		<div style="margin: 10vh 0 10vh 0;"></div>
		<div class="d-flex flex-row justify-content-around align-items-center">

			<a href="/characters" class="biggerOnHover">
				<div style="height: 50vh; width: 40vw;" class="shadow-lg">
					<div class="mainMenuBoxContainer"
						style="overflow: hidden; border: 1px solid black !important; border-radius: 10px;">
						<img src="/img/index/characters.jpg" width="100%" alt="" style="z-index: -1;" class="mainMenuBoxContent">
						<img src="/img/index/charactersLogo.png" height="60%" alt="" style="z-index: -1;"
							class="mainMenuBoxContent">

						<div class="mainMenuBoxContent">
							<span class="display-3" style="text-shadow: 0px 0px 25px black; color: white; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-weight: normal;">CHARACTERS</span>
						</div>
					</div>
				</div>
			</a>

			<a href="https://rolldicewithfriends.com/rooms/dndndnd" class="biggerOnHover">
				<div style="height: 50vh; width: 40vw;" class="shadow-lg">
					<div class="mainMenuBoxContainer"
						style="overflow: hidden; border: 1px solid black !important; border-radius: 10px;">
						<img src="/img/index/play.jpg" width="100%" alt="" style="z-index: -1;" class="mainMenuBoxContent">
						<img src="/img/index/playLogo.png" height="60%" alt="" style="z-index: -1;" class="mainMenuBoxContent">
						<div class="mainMenuBoxContent">
							<span class="display-3" style="text-shadow: 0px 0px 25px black; color: white; -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; font-weight: normal;">PLAY</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
</div>
