<%- include('partials/InfoUserHeader'); -%>

<link rel="stylesheet" href="/css/dist/info.css">

<div class="container">
	<h4 class="red stroke">Benvenuto nelle info!</h4>
	<p>Potete andare su <a class="red" href="https://discord.gg/E4PgpyzDwV">Discord</a> per tutti i dubbi oppure
		consultare i manuali</p>

	<ul>
		<li>
			<a class="red"
				href="https://docs.google.com/document/d/1xNLgRalICu8Ij6ZLuaK8kEcPrlNlD3JQOXhBKHUWARI/edit?usp=sharing">Manuale
				di gioco</a>
		</li>
		<li>
			<a class="red"
				href="https://docs.google.com/document/d/1RBErixeMiOydAbM5NX_Rm_8njHOzzYO7hr_J5TSbFAo/edit?usp=sharing">Creazione
				del personaggio</a>
		</li>
		<li>
			<a class="red"
				href="https://docs.google.com/document/d/1xXBO2wlLc9i_P0RS5oKKTuv5CHHSwewvf-soc0gQZe8/edit?usp=sharing">Guarda
				la storyline</a>
		</li>
	</ul>
	<p>Questo penso che sia già tutto, torna alla home da <a class="red" href="/">qui</a> se vuoi</p>
</div>
