<% include partials/InfoUserHeader %>
	<style>
		body {
			background-color: #2c2f33;
		}
	</style>

	<div class="container lead text-light">
		<h1 class="display-3 text-danger">Benvenuto nelle info!</h1>
		<p>Potete andare su <a class="text-danger" href="https://discord.gg/E4PgpyzDwV">Discord</a> per tutti i dubbi
			oppure
			consultare i due manuali</p>
		<ul class="text-light">
			<li>
				<a class="text-danger"
					href="https://docs.google.com/document/d/1xNLgRalICu8Ij6ZLuaK8kEcPrlNlD3JQOXhBKHUWARI/edit?usp=sharing">Manuale
					di gioco</a>
			</li>
			<li>
				<a class="text-danger"
					href="https://docs.google.com/document/d/1RBErixeMiOydAbM5NX_Rm_8njHOzzYO7hr_J5TSbFAo/edit?usp=sharing">Creazione
					del personaggio</a>
			</li>
			<li>
				<a class="text-danger"
					href="https://docs.google.com/document/d/1xXBO2wlLc9i_P0RS5oKKTuv5CHHSwewvf-soc0gQZe8/edit?usp=sharing">Guarda la storyline</a>
			</li>
		</ul>
		<p>Questo penso che sia già tutto, torna alla home da <a class="text-danger" href="/">qui</a> se vuoi</p>
	</div>
