<%- include('partials/InfoUserHeader'); -%>

<link rel="stylesheet" href="/css/wip.css">

<div class="container-fluid">
	<h1 class="red stroke">Pagina non trovata, coglione</h1>

	<p class="lead">Questa pagina non esiste, clicca <a class="red" href="/">qui</a> per tornare alla home</p>
</div>
