<% include partials/InfoUserHeader %>

	<style>
		body {
			background-color: #2c2f33;
		}
	</style>

	<p class="text-light">Siamo spiacenti, questa funzione non è disponibile, clicca <a class="text-danger"
			href="/">qui</a> per tornare alla home</p>
