@import "./vars";

@mixin Links() {
	text-decoration: none;
	transition: transform .2s;
	color: white !important;

	:hover {
		text-decoration: none;
	}

	:visited {
		text-decoration: none;
		color: white !important;
	}
}

body {
	background-color: $dark;
	color: white !important;
}

#SUPER_INFO {
	display: none;
}

a {
	@include Links();
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

h1,
h3,
h5 {
	font-weight: 600;
}

h2,
h4,
h6 {
	font-weight: 400;
}

.stroke {
	-webkit-text-stroke-color: black;
}

.red {
	color: $red !important;
}

.biggerOnHover:hover {
	transform: scale(1.1);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//----------------------------------------//----------------------------------------// Responsive

//----------------------------------------// Mobile

@media screen and (max-width: 768px) and (orientation:portrait) {
	#MAIN {
		display: none;
	}

	#SUPER_INFO {
		display: block;
	}

	#SUPER_INFO::after {
		content: "Il sito non è ancora mobile friendly, devi girare il telefono";
	}
}

//----------------------------------------// Mobile landscape

@media screen and (max-width: 768px) and (orientation:landscape) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 5vh 0 5vh 0;
	}

	h1,
	h2 {
		font-size: 3.5rem;
	}

	h3,
	h4 {
		font-size: 2.5rem;
	}

	h5,
	h6 {
		font-size: 1.5rem;
	}

	.stroke {
		-webkit-text-stroke-width: 1px;
	}
}

//----------------------------------------// Tablet

@media screen and (min-width: 768px) and (orientation:portrait) {
	#MAIN {
		display: none;
	}

	#SUPER_INFO {
		display: block;
	}

	#SUPER_INFO::after {
		content: "Il sito non è ancora tablet friendly, devi girare il tablet";
	}
}

//----------------------------------------// Tablet landscape

@media screen and (min-width: 768px) and (max-width: 1200px) and (orientation:landscape) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 10vh 0 10vh 0;
	}

	h1,
	h2 {
		font-size: 4.5rem;
	}

	h3,
	h4 {
		font-size: 3.5rem;
	}

	h5,
	h6 {
		font-size: 2.5rem;
	}

	.stroke {
		-webkit-text-stroke-width: 2px;
	}
}

//----------------------------------------// Desktop

@media screen and (min-width: 1200px) and (orientation:landscape) {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 10vh 0 10vh 0;
	}

	h1,
	h2 {
		font-size: 5.5rem;
	}

	h3,
	h4 {
		font-size: 4.5rem;
	}

	h5,
	h6 {
		font-size: 3.5rem;
	}

	.stroke {
		-webkit-text-stroke-width: 2px;
	}
}
