<% include ../partials/InfoUserHeader %>

<script>
	function main() {
		var S = document.getElementById("strength").value;
		var P = document.getElementById("perception").value;
		var E = document.getElementById("endurance").value;
		var C = document.getElementById("charisma").value;
		var I = document.getElementById("intelligence").value;
		var A = document.getElementById("agility").value;
		var L = document.getElementById("luck").value;

		if (!(S == "" || P == "" || E == "" || C == "" || I == "" || A == "" || L == "")) {
			S = parseInt(S);
			P = parseInt(P);
			E = parseInt(E);
			C = parseInt(C);
			I = parseInt(I);
			A = parseInt(A);
			L = parseInt(L);

			var somma = S + P + E + C + I + A + L;

			if (somma != 21) {
				if (somma > 21) { alert("Attenzione, sono stati assegnati " + (somma - 21) + " punti in più, il calcolo verrà effettuato comunque") }
				else { alert("Attenzione, sono stati assegnati " + (21 - somma) + " punti in meno, il calcolo verrà effettuato comunque") }
			}

			if (S == 5) {
				document.getElementById("CaricoMassimoValue").innerText = 50;
				document.getElementById("DannoCQCValue").innerText = 2
			}
			else {
				document.getElementById("CaricoMassimoValue").innerText = 5 + ((S - 1) * 10)
				document.getElementById("DannoCQCValue").innerText = Math.floor(S / 2) - 1
			}


			if (P == 1) {
				document.getElementById("PrecisioneValue").innerText = -50;
				document.getElementById("PrecisionePDValue").innerText = -50;
			}
			else if (P == 5) {
				document.getElementById("PrecisioneValue").innerText = 50;
				document.getElementById("PrecisionePDValue").innerText = 50;
			}
			else {
				document.getElementById("PrecisioneValue").innerText = (P - 3) * 20
				document.getElementById("PrecisionePDValue").innerText = (P - 2) * 10
			}

			if (E == 5) { document.getElementById("StaminaValue").innerText = 6 }
			else { document.getElementById("StaminaValue").innerText = E }
			document.getElementById("CuraValue").innerText = Math.floor(E / 2)

			document.getElementById("ReputazioneValue").innerText = (C * 100) / 5

			document.getElementById("SopravvivenzaCriticaValue").innerText = Math.floor(L / 2) + I

			if (A == 5) { document.getElementById("RicaricaValue").innerText = "INSTANT" }
			else { document.getElementById("RicaricaValue").innerText = (A - 1) * 4 }

			//--------------------------------------------------// Skills

			if (((Math.floor(S / 2) + Math.floor(A / 2) - 1) * 2) * 3 >= 20) { document.getElementById("BloccoValue").innerText = "INSTANT" }
			else { document.getElementById("BloccoValue").innerText = ((Math.floor(S / 2) + Math.floor(A / 2) - 1) * 2) * 3 }

			if (((Math.floor(P / 2) + Math.floor(A / 2) - 1) * 2) * 3 >= 20) { document.getElementById("SchivataValue").innerText = "INSTANT" }
			else { document.getElementById("SchivataValue").innerText = ((Math.floor(P / 2) + Math.floor(A / 2) - 1) * 2) * 3 }



			if (((Math.floor(C / 2) + Math.floor(I / 2) - 1) * 2) * 3 >= 20) { document.getElementById("PersuasioneValue").innerText = "INSTANT" }
			else { document.getElementById("PersuasioneValue").innerText = ((Math.floor(C / 2) + Math.floor(I / 2) - 1) * 2) * 3 }

			if (((Math.floor(S / 2) + ((C - 2) * 2) - 1)) * 3 >= 20) { document.getElementById("IntimidazioneValue").innerText = "INSTANT" }
			else { document.getElementById("IntimidazioneValue").innerText = ((Math.floor(S / 2) + ((C - 2) * 2) - 1)) * 3 }

			if (((Math.floor(P / 2) + Math.floor(C / 2) + Math.floor(I / 2) - 2) * 2) * 2.5 >= 20) { document.getElementById("IngannoValue").innerText = "INSTANT" }
			else { document.getElementById("IngannoValue").innerText = ((Math.floor(P / 2) + Math.floor(C / 2) + Math.floor(I / 2) - 2) * 2) * 2.5 }



			if (((Math.floor(P / 2) + Math.floor(I / 2) + Math.floor(A / 2) - 2) * 2) * 2.5 >= 20) { document.getElementById("FurtoValue").innerText = "INSTANT" }
			else { document.getElementById("FurtoValue").innerText = ((Math.floor(P / 2) + Math.floor(I / 2) + Math.floor(A / 2) - 2) * 2) * 2.5 }

			if (((Math.floor(C / 2) + ((I - 2) * 2) - 1)) * 3 >= 20) { document.getElementById("HackValue").innerText = "INSTANT" }
			else { document.getElementById("HackValue").innerText = ((Math.floor(C / 2) + ((I - 2) * 2) - 1)) * 3 }



			if (((Math.floor(P / 2) + ((I - 2) * 2) - 1)) * 3 >= 20) { document.getElementById("IngegneriaValue").innerText = "INSTANT" }
			else { document.getElementById("IngegneriaValue").innerText = ((Math.floor(P / 2) + ((I - 2) * 2) - 1)) * 3 }

			if (((Math.floor(E / 2) + Math.floor(I / 2) - 1) * 2) * 3 >= 20) { document.getElementById("MedicinaValue").innerText = "INSTANT" }
			else { document.getElementById("MedicinaValue").innerText = ((Math.floor(E / 2) + Math.floor(I / 2) - 1) * 2) * 3 }



			if (((Math.floor(E / 2) + Math.floor(A / 2) - 1) * 2) * 3 >= 20) { document.getElementById("StealthValue").innerText = "INSTANT" }
			else { document.getElementById("StealthValue").innerText = ((Math.floor(E / 2) + Math.floor(A / 2) - 1) * 2) * 3 }

			if (((((E - 2) * 2) + Math.floor(A / 2) - 1)) * 3 >= 20) { document.getElementById("FugaValue").innerText = "INSTANT" }
			else { document.getElementById("FugaValue").innerText = ((((E - 2) * 2) + Math.floor(A / 2) - 1)) * 3 }
		}
	}
</script>

<div class="container-fluid my-3">
	<p class="display-4" style="color: #ff2426;">DnDnDnD SPECIAL calculator</p>

	<div class="m-4"></div>

	<form onsubmit="return false">
		<div class="form-row align-items-center">
			<div class="col-lg">
				<label class="sr-only" for="strength">Strength</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">S</div>
					</div>
					<input type="number" class="form-control" name="strength" id="strength" min="1" max="5" placeholder="trength"
						required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="perception">Perception</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">P</div>
					</div>
					<input type="number" class="form-control" name="perception" id="perception" min="1" max="5"
						placeholder="erception" required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="endurance">Endurance</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">E</div>
					</div>
					<input type="number" class="form-control" name="endurance" id="endurance" min="1" max="5"
						placeholder="ndurance" required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="charisma">Charisma</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">C</div>
					</div>
					<input type="number" class="form-control" name="charisma" id="charisma" min="1" max="5" placeholder="harisma"
						required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="intelligence">Intelligence</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">I</div>
					</div>
					<input type="number" class="form-control" name="intelligence" id="intelligence" min="1" max="5"
						placeholder="ntelligence" required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="agility">Agility</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">A</div>
					</div>
					<input type="number" class="form-control" name="agility" id="agility" min="1" max="5" placeholder="gility"
						required>
				</div>
			</div>

			<div class="col-lg">
				<label class="sr-only" for="luck">Luck</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">L</div>
					</div>
					<input type="number" class="form-control" name="luck" id="luck" min="1" max="5" placeholder="uck" required>
				</div>
			</div>

			<div class="col-lg col-lg-auto">
				<label class="sr-only" for="calcola">Calcola</label>
				<button onclick="main()" type="submit" class="btn btn-primary mb-2" id="calcola"
					style="width: 100%;">Calcola</button>
			</div>
		</div>
	</form>

	<div class="m-5"></div>

	<div class="rounded border shadow p-3">
		<p class="h3" style="color: #ff2426;">Caratteristiche personaggio</p>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Carico massimo: <span id="CaricoMassimoValue">__</span>kg</p>
			</div>
			<div class="col-lg">
				<p>Danno CQC: <span id="DannoCQCValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Precisione: <span id="PrecisioneValue">__</span>%</p>
			</div>
			<div class="col-lg">
				<p>Precisione PD: <span id="PrecisionePDValue">__</span>%</p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Azioni per turno: <span id="StaminaValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Recupero salute con medikit: <span id="CuraValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Reputazione: <span id="ReputazioneValue">__</span>%</p>
			</div>
			<div class="col-lg">
				<p>Sopravvivenza critica: <span id="SopravvivenzaCriticaValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Ricarica armi: <span id="RicaricaValue">__</span></p>
			</div>
		</div>
	</div>

	<div class="m-5"></div>

	<div class="rounded border shadow p-3">
		<p class="h3" style="color: #ff2426;">skills</p>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Blocco: <span id="BloccoValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Schivata: <span id="SchivataValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Persuasione: <span id="PersuasioneValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Intimidazione: <span id="IntimidazioneValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Inganno: <span id="IngannoValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Furto: <span id="FurtoValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Hack: <span id="HackValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Ingegneria: <span id="IngegneriaValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Medicina: <span id="MedicinaValue">__</span></p>
			</div>
		</div>

		<div class="row align-items-center lead">
			<div class="col-lg">
				<p>Stealth: <span id="StealthValue">__</span></p>
			</div>
			<div class="col-lg">
				<p>Fuga: <span id="FugaValue">__</span></p>
			</div>
		</div>
	</div>
</div>
